*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* header */
/* topbar */
.topbar{
    background-color: #262262;
    color: #ddd;
    padding: 13px;
    display: flex;
    justify-content: center;
}

/* navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    background-color:white;
    padding: 15px;
}
.navbar .img{
    margin-left: 11%;
}
.navbar ul{
    align-items: center;
    margin-right: 15%;
    padding-top: 16px;
}
.navbar ul a{
    color: #262262;
    text-decoration: none;
    align-items: center;
    padding:15px ;

}
.navbar ul a:hover{
    color: #f7941d;
    transition: 0.5s  ease-out color ;
}

/* section */

/* port */
.port{
    background-image: url(img/etherlink-landing-page.jpg);
    padding-top:0.1px ;
    height: 80%;
    width: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

hr{
    width: 5%;
    margin:  0px 10px 0px 10px;
    height: 4px;
    background-color:#f7941d;
    
}
.line{
    font-weight: 600;
    color: #262262;
    margin-top: 140px;
    margin-left:15% ;
    font-size: 20px;
    display: flex;
    align-items: center;
}
/* texts on port */
.txta{
    margin-top: 10px;
    margin-left:15% ;
    font-size: 70px;
    color:#262262 ;
    font-weight: 700;
}
.txtb{
    margin-top: -10px;
    margin-left:15% ;
    font-size: 70px;
    color: #f7941d;
    font-weight: 700;
}

.txtc{
    margin-top: 10px;
    margin-left:15% ;
    font-size: 17px;
    color:#262262 ;
    font-weight: 540;
    width: 40%;
    line-height: 30px;
       
}



.view{
    height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    margin-top: 62px;
    margin-left:15% ;
    font-size: 17px;
    background-color: #262262;
    color:#ddd ;
    font-weight: 540;
    width: 180px;
}

.view:hover{
    margin-top: 55px;
    
    transition: 0.5s ease-out  margin-top;
    
}


/* face */
.face{
    margin-top: -30px;
    border-radius: 8px;
    margin-left: 15%;
    width: 70%;
    background-color: #f7941d;
    height:290px;
    display: flex;   

}
.who{
    flex: block;
    border-radius: 8px 0px 0px 8px;
    width: 60%;
    background-color: #262262;
    color: #ddd;
    font-size: 20px;
}
.who h3{
    margin-top:15px ;
    margin-right: 15px;
    color: #f7941d;
    font-size: 45px;
    float: right;
    font-weight: 500;
}
.who p{
    line-height: 30px;
    text-align: right;
    margin-right: 15px;
    margin-top: 90px;
    margin-bottom: 20px;
    color: #ddd;
    
}

.whats{
    display: block;
    border-radius: 0px 8px 8px 0px;

    width:40%;
    background-color: #f7941d;
    color: #ddd;
    font-size: 20px;
}
.whats h3{
    margin-top:15px ;
    margin-left: 15px;
    color: #262262;
    font-size: 43px;
    font-weight: 500;
}
.whats p{
    line-height: 30px;
    margin-left: 15px;
    margin-top: 27px;
    color: #ddd;
    float: right;
    align-content: 10px;
    margin-bottom: 20px;
}
 .face .who a{
    
    margin-left: 15px;
    font-size: 20px;
    color: #f7941d;
    outline: none;
    text-decoration: none;
 }
 .face .whats a{

    margin-left: 15px;
    font-size: 20px;
    color:#262262;
    outline: none;
    text-decoration: none;
}

/* caroudel */


/* last */

/* services */
h5{
    margin-top: 50px;
    font-size: 19px;
    margin-left: 15%;
    color: #f7941d;
}
h3{
    margin-top: 10px;
    font-weight: 500;
    font-size: 50px;
    color: #262262;
    margin-left: 15%;

}

.linee{
    margin-top: 10px;
    margin-left: 15%;
    width: 70%;
    height: 2px;
    
}

.serv-grid{
    margin: 50px 15% 20px 15% ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.serv-grid div {
    background-color: #262262;
    color: #ddd;
    height: 180px;
    text-align: center;
    padding: 40px;
    font-size: 35px;
}
.niche {
    margin-top: 9%;
    margin-left: 45%;
    width: 40%;

}
.niche p{
    margin-left: 15%;
    line-height: 40px;
    font-size: 18px;
    color: #262262;
}

/* testimonials */
.testimonials{
    padding-top: 20px;
    background-color: #ddd;
}

.testimonials h5{
    font-size:23px;
    font-weight: 500;
}
.testimonials h3{
    font-size:35px;
    
}
.testee{
    margin-top: 60px;
    margin-left: 15%;
    margin-right: 15%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.testifier{
    height: 210px;
    background-color: white;
    padding: 10px 10px 10px 10px;
    border-radius: 8px;
    box-shadow: -1px -1px 5px 5px rgba(0,0,0,0.2);
}
.testifier p{
    color: #262262;
    line-height: 25px;
    font-size: 19px;
}
.testifier img{
    height: 64px;
    margin-top: 30px;

}
.testfoot{
    display: flex;
    
}
.info{
    margin-left: 5px;
    margin-top: 40px;
    display: block;
}
.info h3{
    font-size: 15px;
    margin-left: 18px;

}
.info h2{
    color: #f7941d;
    font-size: 15px;
    margin-left: 16px;
    font-weight: 300;
}
   
/* contact us */
.contact-us{
    background-color: #262262;
    height: 250px;
    color: #ddd;
    font-size: 30px;
    font-weight: 100;
}

.contact-us hr{
    height: 2px;
    width: 120px;
}

.contact-us header{
    padding-left: 20%;
    padding-top: 70px;
    display:flex;
    align-items: center;
}
.contact-us .contin{
    display: flex;
    justify-content: space-between;
}
.contin p{
    text-justify: distribute;
    padding-top: 30px;
    padding-left: 20%;
    width: 67%;
    font-size: 19px;
    line-height: 30px;
    font-weight: 300;
}

.contin .btn-cnt{
    width: 140px;
    height: 50px;
    margin-right: 290px;
    background-color: #f7941d;
    outline: none;
    border: none;
    border-radius: 4px;
}

.contin .btn-cnt:hover{
    height: 54px;
    width: 145;
    margin-top: -1px;
    
}